.panel {
  display: flex;
  flex-direction: column;
  row-gap: var(--padding);
  padding: var(--padding);
  min-width: 0;
  overflow-x: hidden;

  @include laptop {
    padding-inline: var(--mobile-padding);
  }

  @include tablet {
    row-gap: var(--mobile-padding);
  }

  @include mobile {
    align-items: center;
    padding-bottom: 0;
  }
}
