html {
  &.is-lock {
    overflow: hidden;
  }
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  font-size: 16px;
  color: var(--color-azure-64);
  background-color: var(--color-azure-4);
}

main {
  flex-grow: 1;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  color: var(--color-white);
}

h1, .h1 {
  font-size: 20px;
  font-weight: 600;
}

h2, .h2,
h3, .h3,
h4, .h4 {
  font-size: 16px;
  font-weight: 400;
}

h5, .h5 {
  color: var(--color-azure-46);
  font-size: 12px;
  font-weight: 400;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  @include hover {
    color: var(--color-azure-78);
  }

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  @include focus-visible;
}