:root {
  --color-white: #FFFFFF;
  --color-black: #000000;

  --color-azure-4: #030712;
  --color--azure-11: #101828;
  --color--azure-17: #1E2939;
  --color-azure-46: #6A7282;
  --color-azure-54: #155DFC;
  --color-azure-58: #2B7FFF;
  --color-azure-64: #99A1AF;
  --color-azure-78: #8EC5FF;
  --color-azure-84: #D1D5DC;

  --border: var(--border-width-s) solid var(--color--azure-11);

  --border-width-s: 1px;
  --border-width-l: 2px;

  --border-radius: 10px;

  --font-family-base: 'Segoe UI', sans-serif;

  --container-width: #{fluid-to-laptop(
    $container-desktop-width,
    $container-laptop-width
  )};
  --container-padding-x: 16px;

  --section-padding-y: 12px;

  --transition-duration: 0.2s;
}