.sidebar {
  --itemGap: 50px;

  display: flex;
  flex-direction: column;
  align-self: stretch;
  row-gap: var(--itemGap);
  min-width: fluid-to-laptop(500, 250);
  padding: fluid(24, 20);
  border-right: var(--border);

  & > :first-child {
    margin-bottom: calc(var(--itemGap) * -1);
  }
}